.container{
  flex: 1;
  background-color: black;
  display: flex;
  align-items: center;
  color: white;
  flex-direction: column;
}

.relative{
  overflow: hidden;
  background-color: black;
  position: fixed;
  top:0;
  width: 100%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding-left: 100px;
  padding-bottom: 10px;
  border-top-width: 0px;
  border-bottom-width: 5px;
  border-style:solid;
  border-color:white;
}

#musica{
  display: flex;
  text-align: center;
}

#lista{
  padding-top: 120px;
}